/* box-styles.css file: */



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;

}

.nav-bar {
  background-color: #a9b2b2;
  display: flex;
  font-weight: bold;
  color: #3a3d3d;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1.5em;

}

.center {
  /* display: flex; */
  flex-direction: column;
  align-items: center;

}

input {
  border-radius: 12px;
}


.nav-elements {
  list-style-type: none;
  display: flex;
    width: 40vw;
    justify-content: space-between;

}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  width: 80vw;

}

/* --------------campus item------------------------- */


.campus-box {
  height: 130px;
  width: 350px;
  background-color: #d4d8d8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;

}



.small-campus-img-placeholder {
  background-color: white;
  height: 110px;
  width: 110px;
  margin-left: 20px

}


.campus-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  width: 150px;
  align-content: space-between;
  padding: 0 30px;

}


.campus-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 20px;
  line-height: 2%;

}


.campus-modifyers {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: baseline;
  align-self: flex-end;

}


.campus-modifyers button {
  background-color: #f98e8e;
  border-radius: 12px;
  padding: 5px 20px;

}


.campus-name {
  font-size: 1.2em;

}

/* --------------student item/single student------------------------- */


.student-box {
  height: 275px;
  width: 200px;
  background-color: #d4d8d8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  margin: 10px;
}


.student-img-placeholder {
  background-color: white;
  height: 130px;
  width: 150px;
  margin-bottom: 20px;


}


.student-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50px;
  line-height: 5%;


}


.student-name {
  font-size: 1.2em;

}

.single-student-main-content {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.student-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  justify-content: flex-start;
}

.student-hero h1 {
  margin: 10px;

}

.student-hero p {
  margin-top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

.single-student-delete-button {
  background-color: #f98e8e;
  border-radius: 12px;
}

.single-student-edit-button {
  background-color: #53ed83;
  border-radius: 12px;

}

.single-student-change-campus-button {
  border-radius: 12px;
  background-color: #16f4f1;
  padding: .7em;
}

.campus-listing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.campus-listing-block h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.single-student-form-area {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  margin-bottom: 2em;
  align-items: baseline;
}


/* --------------full campus page------------------------- */
  /* border: 5px solid red; */

  .single-campus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 80vw;
    align-self: center;
    padding-left: 2em;
  }


  .campus-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin-top: 20px; */
    width:  80vw;
    padding-left: 0;

  }


  .campus-img-placeholder {
    width: 50vw;
    height: 30vh;
    background-color: #d4d8d8;

  }


  .campus-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


  }

  .campus-hero h1 {
    padding: 0;
    line-height: 5%;

  }

  .campus-edit-button {
    background-color: #53ed83;
    border-radius: 12px;

  }

  .campus-delete-button {
    background-color: #f98e8e;
    border-radius: 12px;

  }

  .student-listing-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .campus-left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }



  .add-student-button {
    border-radius: 12px;
    background-color: #16f4f1;
  }

  .student-avatar-area{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .student-listing-header {
      display: flex;
      width: 80vw;
      flex-direction: column;
      align-items: center;

    }

    /* --------------edit campus page------------------------- */

  .edit-campus-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 1em;
    max-width: 50vw;
  }

  .edit-campus-form-box button {
    padding: 5px 10px;
  }

  .campus-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  .single-campus-change-campus-button {
    margin-top: 1.5em;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #16f4f1;

  }

  .students-on-campus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   /* --------------edit student page------------------------- */


@media only screen and (min-width : 768px) {

  .nav-bar {
    background-color: #a9b2b2;


    padding: 0 30px;
    height: 60px;

  }

  .center {
    display: flex;
    max-width: 800px;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;


  }

  input {
    width: 400px;
    height: 25px;
  }

  .nav-elements {
    display: flex;
    justify-content: space-between;
     width: 20vw;
    margin-right: 100px;
  }

  .main-content {
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;

  }


.header {
  justify-content: space-between;
  align-content: center;

}


.instance-boxes {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;}



/* --------------full campus page------------------------- */
  /* border: 5px solid red; */


.campus-main-content {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  justify-content: center;
  align-content: center;
  align-items: space-around;

}

.campus-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.campus-left-content{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  height: 400px;
  justify-content: space-between;

}

.campus-img-placeholder {
  height: 450px;
  width: 500px;
  padding: 0;
  margin: 0;


}


.campus-hero {
  height: 415px;
  width: 500px;
  justify-content: space-between;

}

.campus-mod-buttons {
  display: flex;
  align-self: flex-end;
  width: 200px;
  height: 200px;
  justify-content: space-around;
  align-items: center;

}

.campus-edit-button {
  display: flex;
  padding: 5px 20px 20px 20px;
  border-radius: 12px;

}


.campus-delete-button {
  border-radius: 12px;
  padding: 5px 20px 20px 20px;

}


.student-listing-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin-right: 30px;

}

.student-listing-header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  align-items: baseline;
  margin-left: 30px;

}


.add-student-button {
  padding: 15px 40px ;

}


.student-avatar-area{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-b;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0 30px;


}


}




















